.root {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  max-width: 1080px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--fs-16);
  color: var(--Color-Badge-Alert-Alert-text);
  font-family: var(--font-montserrat);
}
.clockParent,
.frameParent {
  display: flex;
  align-items: center;
}
.frameParent {
  width: 1080px;
  border-radius: var(--br-12);
  background-color: var(--Color-Badge-Alert-Alert-BG);
  overflow: hidden;
  padding: var(--padding-24) var(--padding-24) var(--padding-24)
    var(--padding-16);
  box-sizing: border-box;
  gap: var(--gap-20);
}
.clockParent {
  gap: var(--gap-8);
}
.clockIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.listingUnderReview {
  font-weight: 600;
}
.listingUnderReview,
.viewListing,
.youllBeNotified {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.youllBeNotified {
  flex: 1;
  font-weight: 500;
}
.viewListing {
  text-decoration: underline;
  font-weight: 600;
}
.frameContainer,
.frameGroup {
  align-self: stretch;
  display: flex;
  gap: var(--gap-24);
}
.frameGroup {
  flex-direction: column;
  align-items: flex-start;
}
.frameContainer {
  align-items: flex-end;
  text-align: left;
  font-size: var(--fs-24);
  color: var(--Color-Text-Primary);
  font-family: var(--font-montserrat);
}
.liveListingsParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-2);
}
.liveListings {
  margin: 0;
  position: relative;
}
.manageYourLive {
  align-self: stretch;
  position: relative;
  font-size: var(--fs-16);
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 500;
  color: var(--Color-Text-Tertiary);
}
.inputFieldParent {
  display: flex;
  align-items: center;
  gap: var(--gap-12);
}
.inputField,
.inputField2 {
  width: 180px;
  box-shadow: var(--Shadows-shadow-xs);
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: var(--fs-16);
  color: var(--color-darkgray);
}
.inputField2 {
  width: 200px;
  color: var(--Color-Text-Primary);
}
.cta {
  height: var(--height-48);
  box-shadow: var(--Shadows-shadow-xs-skeuomorphic);
  padding: var(--padding-12) var(--padding-16);
  box-sizing: border-box;
}
.transactionCardParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-16);
}
@media screen and (max-width: 1056px) {
  .manageYourLive {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .root {
    gap: var(--gap-20);
  }
}
