.companyLogo {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.logomark,
.vector,
.vector2 {
  position: absolute;
  height: 100%;
  width: 66.67%;
  top: 0;
  right: 16.67%;
  bottom: 0;
  left: 16.67%;
}
.vector,
.vector2 {
  height: 20%;
  width: 30%;
  top: 40%;
  right: 68.33%;
  bottom: 40%;
  left: 1.67%;
  background-color: var(--Colors-Green-600);
}
.vector2 {
  top: 60%;
  right: -28.33%;
  bottom: 20%;
  left: 98.33%;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.vectorIcon {
  width: 36.25%;
  top: 20%;
  right: 32.08%;
  bottom: 40%;
  left: 31.67%;
}
.vectorIcon,
.vectorIcon2,
.vectorIcon3,
.vectorIcon4 {
  position: absolute;
  height: 40%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon2 {
  width: 36.25%;
  top: 80%;
  right: -4.17%;
  bottom: -20%;
  left: 67.92%;
  object-fit: contain;
}
.vectorIcon3,
.vectorIcon4 {
  width: 66.25%;
  top: 0;
  right: 32.08%;
  bottom: 60%;
  left: 1.67%;
}
.vectorIcon4 {
  top: 100%;
  right: -64.58%;
  bottom: -40%;
  left: 98.33%;
  object-fit: contain;
}
