.root {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.root[data-company="Flora&Fauna"] .logomarkIcon {
  right: 8.33%;
  left: 8.33%;
}
.root[data-company="Hexahedron"] .logomarkIcon {
  right: 11.39%;
  left: 11.39%;
}
.logomarkIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 4.17%;
  bottom: 0;
  left: 4.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
