.cursor {
  width: var(--width-20);
  height: var(--height-20);
  position: absolute;
  margin: 0 !important;
  top: 28px;
  left: -1px;
  z-index: 2;
  flex-shrink: 0;
}
.shapeIcon {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  box-shadow: var(--shadow-drop);
  width: var(--width-14);
  height: var(--height-16);
}
.linesIcon {
  position: absolute;
  top: calc(50% + 1px);
  left: calc(50% - 2px);
  width: var(--width-5);
  height: var(--height-4);
}
