.cta {
  height: var(--height-48);
  width: var(--width-48);
  border-radius: var(--br-10);
  background-color: var(--Color-Base-White);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-14);
}
.dotsHorizontalIcon {
  height: var(--height-20);
  width: 100%;
  position: relative;
}
