.frameParent,
.parent {
  display: flex;
  align-items: flex-start;
}
.frameParent {
  align-self: stretch;
  gap: var(--gap-16);
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-30);
  color: var(--Color-Text-Primary);
  font-family: var(--font-montserrat);
}
.parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-8);
  min-width: 398px;
}
.h1 {
  margin: 0;
  position: relative;
}
.arrowUpParent,
.frameGroup {
  display: flex;
  align-items: center;
}
.frameGroup {
  align-self: stretch;
  gap: var(--gap-8);
  font-size: var(--fs-14);
  color: var(--Color-Badge-Success-Success-text);
}
.arrowUpParent {
  gap: var(--gap-4);
}
.arrowUpIcon {
  width: var(--width-16);
  position: relative;
  max-height: 100%;
}
.div,
.vsLast30 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 600;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.vsLast30 {
  flex: 1;
  font-weight: 500;
  color: var(--Color-Text-Tertiary);
  min-width: 77px;
}
@media screen and (max-width: 1056px) {
  .h1 {
    font-size: var(--fs-18);
    line-height: 27px;
  }
}
@media screen and (max-width: 825px) {
  .frameParent {
    flex-wrap: wrap;
  }
  .h1 {
    font-size: var(--fs-24);
    line-height: var(--lh-36);
  }
}
@media screen and (max-width: 675px) {
  .parent {
    min-width: 100%;
  }
  .frameGroup {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 540px) {
  .parent {
    min-width: 100%;
  }
  .frameGroup {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .h1 {
    font-size: var(--fs-18);
    line-height: 27px;
  }
}
