.inputField {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-6);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--Font-size-text-sm);
  color: var(--Color-Text-Tertiary);
  font-family: var(--font-dm-sans);
}
.label {
  position: relative;
  line-height: var(--lh-20);
  font-weight: 500;
}
.input {
  align-self: stretch;
  height: var(--height-48);
  border-radius: var(--br-10);
  background-color: var(--Color-Surface-Tabs-BG);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: var(--padding-2);
  box-sizing: border-box;
}
