.xAxisLabel {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: var(--spacing-md) var(--padding-0) var(--padding-0);
  z-index: 2;
  text-align: center;
  font-size: var(--fs-12);
  color: var(--Color-Text-Secondary);
  font-family: var(--font-montserrat);
}
.text {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 500;
}
